.App {
  background-color: #007c91;
  min-height: 100vh;
}

.summary {
  min-height: 100vh;
}

.tag-cloud {
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2em auto;
}

.info {
  min-height: 10vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.experience {
  min-height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.circle-icon {
  background-color: #007c91;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-text {
  color: white;
}

@media only screen and (max-width: 1024px){ 
  .info, .tag-cloud {
    width: 100%;
  }
}